@font-face {
	font-family: bebas;
	src: url("../font/BEBAS.ttf");
}

@font-face {
	font-family: bignoodle;
	src: url("../font/big_noodle_titling.ttf");
}

body
{
	margin: 0px;
	background: #f2f2f2;
}

input[type="text"], input[type="password"]
{
	margin-bottom: 0px;
	height: 35px;
}

#navmen_area
{
	position: fixed;
	top: 40px;
	left: 40px;
	z-index: 255;
}
	#navmen_area img
	{
		float: left;
		width: 200px;
	}

	.navmen
	{
		float: left;
		height: 40px;
		width: auto;
		padding: 10px;
		border-radius: 4px;
		background: #1c1f24;
		z-index: -1;
	}
		.navmen ul
		{
			list-style-type: none;
			display: block;
		}

		.navmen li
		{
			float: left;
			height: 100%;
			width: auto;
			padding-left: 15px;
			padding-right: 15px;
			color: #fff;
			font-family: bebas;
			font-size: 30px;
			display: block;
			line-height: 125%;
		}

		.navmen_a
		{
			color: rgb(220,220,220);
			text-decoration: none;
		}
		.navmen_a:hover
		{
			color: #fff;
			text-decoration: none;
		}

		.logo_hold
		{
			margin-top: -10px;
			margin-left: -25px;
			padding-left: 0px;
		}

		.loginav
		{
			background: #373e48;
		}

	.subnav
	{
		position: absolute;
		width: 130px;
		margin-top: 240px;
	}

	.subnav li
	{
		font-size: 13px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #000;
		position: relative;
		display: block;
		width: 100%;
	}

	.nav-header
	{
		color: #999;
		font-weight: bold;
		font-size: 11px;
	}

#srchBox
{
	height: 39px;
	font-size: 18px;
	margin-left:-14px;
	margin-right:10px;
}
	.popover
	{
		color: #000;
		font-size: 13px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}
	.soc_log
	{
		margin-bottom: 10px;
		width: 180px;
	}

hr
{
	background: #53676c;
	height: 4px;
	width: 100%;
	border: 0px solid white;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* PAGE */
#page
{
	position: absolute;
	top: 120px;
	left: 290px;
	background: transparent;
	width: 950px;
	height: auto;
	border-radius: 4px;
}
	/* MAST */
	#dj_arr
	{
		position: absolute;
		width: 135px;
		margin-left: 320px;
		margin-top: 165px;
		opacity: 0.4;
	}
		#dj_arr:hover
		{
			opacity: 1;
		}

	#lis_arr
	{
		position: absolute;
		width: 135px;
		margin-left: 560px;
		margin-top: 165px;
		opacity: 0.4;
	}
		#lis_arr:hover
		{
			opacity: 1;
		}

.capsule
{
	float: left;
	margin: 13px;
	background: #f9f9f9;
	width: 280px;
	height: 170px;
	border-radius: 3px;
	border: 1px solid #ccc;
}
	.capsule:hover
	{
		border: 1px solid #0055d4;
	}

	.capsule h4
	{
		color: #53676c;
		font-family: bebas;
	}

	.title
	{
		color: #53676c;
		font-family: bebas;
		font-size: 25px;
		margin: 30px;
		display: block;
	}