body
{
	background: #e3dedb;
	margin: 0px;
}

#mlogo
{
	margin-top: 20px;
	margin-bottom: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

dt
{
	color: #6C5D53;
}

h1, h2, h3, h4, h5, h6
{
	color: #6c5d53;
}

.body
{
	border-radius: 5px;
	border:1px solid #c8beb7;
	background: #fff;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: left;
}

.container
{
	margin-bottom: 30px;
}

	.fold
	{
		font-weight: bold;
		color: #7137c8;
	}
	.file
	{
		color: #677821;
	}
